.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.header__logo{
    font-size: 60px;
    color:  #ee1ec1
}
.header__list{
    display: flex;
    column-gap: 45px;
}
.header__tel{
    display: flex;
align-items: center;
color: #fc14ca;}

.header__item-link{
    color: rgb(250, 4, 188);
}

.header__item-link:hover{
    opacity: 0.3;
}