.services{
    margin-top: 150px;
}
.services__card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.services__item {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
    max-width: 200px;
    font-size: 18px;
    line-height: 103%;
    text-align: center;
    position: relative;
}

.services__image {
    height: 100%;

}
.services__text {
    margin-top: 15px; /*отступ сверху*/
    color:rgb(66, 14, 46); /*цвет текста*/
    text-align: center; /*выравнивание текста по центру*/
    font-size: 22px; /*размер шрифта*/
    position: absolute; /* позиционируется абсолютно*/
    width: 200px; /*устанавливаем ширину для текста*/
    background-color: #70547567; /*задаем фон*/
    top: 50%; /* верхняя часть смещена на 50% высоты родителя*/
    left: 50%; /*левая граница смещена на 50% ширины родителя*/
    transform: translate(-50%, 50%);/* смещаем элемент относительно его текущего положения*/
}
.services__card {
  width: 1350px; /*задаемширинуслайдера с карточками */
  margin-top: 60px;/*отступсверху*/
  display: flex;/*Используемflexbox для выравнивания карточек в строку*/
  gap: 40px;/*промежуток между карточками */
overflow: hidden;/*если содержимое выходит за пределы карточки, то скрытие лишнего */
}

.card__img {
  min-width: 360px;/*устанавливаем минимальную ширину для каждого изображения*/

}
.card__item {
  width: 360px;/*устанавливаем ширину для каждого элемента*/
  transition: 0.3sease;/* плавное изменение отображения длительностью 0.3 секунды*/
  }

.card__link {
  border: none;/*убираемрамкуукнопки*/
  margin-top: 20px;/*отступсверху*/
  color: #1d1b92;/*цветтекста*/
  cursor: pointer;/* курсор меняем на указатель */
}

.applications {
    position: fixed; /* позицинорование фиксированное */
    top: 0; /* Элемент будет находиться на верхней границе экрана*/
    left: 0; /* Элемент будет находиться на левой границе экрана.*/
    width: 100%;/* Ширина 100% от окна браузера */
    height: 100%;/* Высота 100% от окна браузера */
    background-color: rgba(58, 60, 65, 0.7); /*задаем фон Полупрозрачный с цветом */
}
.application {
    position: absolute; /* позиционируется абсолютно*/
    top: 50%; /* верхняя часть смещена на 50% высоты родителя*/
    left: 50%;/*левая граница смещена на 50% ширины родителя*/
    transform: translate(-50%, -50%);/* смещаем элемент относительно его текущего положения*/
    max-width: 800px;/* Максимальная ширина окна */
    width: 100%;/* Ширина 100% от родительского элемента */
    padding: 50px 20px; /* Внутренние отступы: 50px сверху и снизу, 20px слева и справа */
    display: flex; /*Используем flexbox для выравнивания*/
    justify-content: center; /* распределяем элементы по центру*/ 
    align-items: center; /* выравнивание по вертикали */
    column-gap: 64px; /* отступы между столбцами */
    background-color: #b6b27a; /*фон модального окна*/
    color: #e613b1; /*цвет текста*/
}
.application__title {
    font-size: 36px; /*размер шрифта для заголовков*/
}
.application__text {
    margin-top: 20px; /* Отступ сверху */
    font-size: 20px; /*размер шрифта для текста*/
}
.application__form {
    width: 500px; /*устанавливаем ширину для формы*/
    display: flex; /*Используем flexbox для выравнивания формы в строку*/
    flex-direction: column;
    row-gap: 10px; /* отступы между строками */
}
.application__close {
    position: absolute; /* позиционируется абсолютно*/
    top: 0; /* Элемент будет находиться на верхней границе родителя*/
    right: 0; /* элемент будет прижат к правой стороне родителя */
    padding: 10px; /* Внутренние отступы с каждой стороны 10px*/
    background-color: #e0d759; /*фон кнопки*/
}

.header {
    padding: 30px 100px; /* Внутренние отступы: 30px сверху и снизу, 100px слева и справа */
    color: #f71dae; /*цвет текста*/
    display: flex; /*Используем flexbox для выравнивания в строку*/
    justify-content: space-between; /* распределяем элементы по ширине*/ 
    align-items: center; /* выравнивание по вертикали */
}
.header__list {
    display: flex; ;/*Используем flexbox для выравнивания списка в строку*/
    justify-content: space-between; /* распределяем элементы по ширине*/ 
    gap: 40px; /*промежуток между ссылками */
}
.header__link {
    font-size: 20px; /*размер текста ссылок*/
    font-weight: 400; /*толщина шрифта */
    text-decoration: none; /*убираем подчеркивание ссылок*/
    color: hsl(323, 94%, 51%); /*цвет текста*/
}

.treners__card {
display: flex; /* Используем flexbox для выравнивания карточек в строку*/
flex-wrap: wrap; /*Если карточки не влезут в строку, то перенос на новую*/
gap: 30px; /* промежуток между карточками */
justify-content: center; /* распределяем элементы по центру*/
list-style-type: none; /*убираем маркеры от списка ul*/
margin: 0; /*ставим в 0 пикселей внешние отступы*/
padding: 0; /*ставим в 0 пикселей внутренние отступы*/
}
.treners__item {
padding: 10px 30px; /* Внутренние отступы: 10px сверху и снизу, 30px слева и
справа */
border-radius: 20px; /* скругление углов на 20px*/
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);/*тень карточки*/
}

/* Скрываем контент до загрузки */
.content {
display: none;
}
.preloader {
padding-top: 5%; /* Отступ сверху */
background: #8d8d6a; /* задаем фон при загрузке */
transition: opacity 0.5s ease; /* Плавный переход для изменения прозрачности */
text-align: center;/* центрируем текст */
}
.loader span {
display: inline-block;/* располагаем элементы в строку */
width: 20px;/* Ширина кругов */
height: 20px;/* Высота кругов */
border-radius: 100%;/* задаем круг */
background-color: #141414;/* Цвет кругов */
margin: 35px5px;/* Отступы вокруг кругов */
}
.dot1 {
animation: bounce 1s ease-in-out infinite;
/* анимация для первой точки*/
}
.dot2{
animation: bounce 1s ease-in-out 0.33s infinite;/*анимация для второй точки с задержкой*/
}
.dot3 {
animation: bounce 1s ease-in-out 0.66s infinite;/* анимация для
третьей точки с задержкой */
}
/* Анимация bounce: */
@keyframes bounce {
0%,
75%,
100% {
transform: translateY(0);/* круги на месте */
}
25% {
transform: translateY(-30px);/* круги поднимаются */
}
}

  
    .swiper {
      width: 70%;
      height: 70%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 70%;
      height: 70%;
      object-fit: cover;
    }
